@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  outline: none;
  border: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 60px;
}

.container .content {
  text-align: center;
}

.container .content h1 {
  font-size: 30px;
  color: #333;
}
.container .content span {
  font-size: 20px;
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.container .content h2 {
  font-size: 50px;
  color: #333;
}

.container .content h2 span {
  color: white;
}

.container .content p {
  font-size: 20px;
  margin-bottom: 20px;
}

.container .content .btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: #333;
  color: white;
  font-size: 20px;
  margin: 0 5px;
  border-radius: 2px;
}

.container .content .btn:hover {
  background-color: crimson;
  color: white;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 60px;
  background-color: #eee;
}

.form-container form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background:#fff;
    text-align: center;
    width: 600px;

}

.form-container form h3{
    font-size:30px ;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;

}
.form-container form input , .form-container form select{
    width:97%;
    padding: 15px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option{
    background: #eee;
}

.form-container form input[type="submit"]{
    background: crimson;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 20px;
}

.form-container form input[type="submit"]:hover{
    background: #333;
}
.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a{
    color: crimson;
    text-decoration: none;
}

.alert{
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
}

.error{
  display: block;
  background: #cc8787;
  color: #dfd8d8;
  font-size: 20px;
  border-radius: 5px;
}

.success{
  display: block;
  background: #87cc8e;
  color: #dfd8d8;
  font-size: 20px;
  border-radius: 5px;
}

